#container
  #header
    h1
      img(src="/css/img/logo.png", alt="Node Knockout")
    #player-box
      - if (user != null)
        #logged-in-box
          - if (avatar != "undefined")
            img(src: avatar)
          .name Logged in as #{user}
          a(id="logout", href="/logout") Logout when you're dead, sissy 
      - else
        #logged-out-box
          a(id="login", href="#").big-yellow-button.button Sign In
    a(id="vote-button", href='http://nodeknockout.com/teams/nodelicious', title='Help me win Node.js KO!', target="nko")
      img(src="http://nodeknockout.com/images/voteko.png", alt="Help me win Node.js KO!")


  div#container.cols.xi
    div.col.a.top
      #live-action-container
        #waiting Waiting for bad company...
        #instruction space=jump, D=punch, S=kick
        canvas(id: "arena", width:800, height:480)
        #character-selection-container
          h1 Choose a Character
          .character-container#char-1
            img(src:"/css/img/aaron_mug.jpg")
            span Gunther
          .character-container#char-2
            img(src:"/css/img/Jim.jpg")
            span Dieter
          .character-container#char-3
            img(src:"/css/img/assaf.jpg")
            span Schmidt
          .character-container#char-4
            img(src:"/css/img/hunter.jpg")
            span Hans
          a#choose-character-button(href:"#")Start Game
    div.col.b.top
      .leaderboard
        h2 Leaderboard 
        h2.kill-label Kills
        ul.leaderboard
          - each killer in killers
            li
              .name= killer.user.preferredUsername
              .avatar img(src=killer.user.avatar, alt="avatar")
              .score 12
              .badges
              .rank 1
  div.cols.xi
  #footer
  
div#login-modal.hidden
  iframe(id="login-iframe", src="https://nodelicious.rpxnow.com/openid/embed?token_url=http%3A%2F%2F"+HOST+"%2Flogin",  scrolling="no",  frameBorder="no",  allowtransparency="true")
  p#login-modal-text Or <a href="#">play anonymously</a> you dirty, no good coward.
	
script(src:"/js/knockout.js")
script(src:"/js/app.js")
