#container
  #header
    h1
      img(src="/css/img/logo.png", alt="Node Knockout")
    #player-box
      - if (user != null)
        #logged-in-box
          - if (avatar != "undefined")
            img(src: avatar)
          .name Logged in as #{user}
          a(id="logout", href="/logout") Logout when you're dead, sissy 
      - else
        a(id="login", href="#").big-yellow-button.button Sign In
    a(id="vote-button", href='http://nodeknockout.com/teams/nodelicious', title='Help me win Node.js KO!', target="nko")
      img(src="http://nodeknockout.com/images/voteko.png", alt="Help me win Node.js KO!")

  div#container.cols.xi
    div.col.a.top
      #live-action-container
        canvas#live-action
    div.col.b.top
      .leaderboard
        h2 Leaderboard 
        h2.kill-label Kills
        ul.leaderboard
          - each killer in killers
            li
              .name= killer.user.preferredUsername
              .avatar img(src=killer.user.avatar, alt="avatar")
              .score 12
              .badges
              .rank 1
      - if (user != null)
        div#leaderboard-you.leaderboard
          a(id="start-you", href="/arena")
            img(src="/css/img/play.png",alt="start game").img-button
          ul.leaderboard
            li.you
              .name #{user}
              - if (avatar != "undefined")
                .avatar
                  img(src: avatar, alt: "avatar")
              .score #{score}
              .badges
              .rank #{rank}
        
  div.cols.xi
    .a
      div#twitter-feed.panel
        h2 Nodelicious Updates
        script(src:"http://widgets.twimg.com/j/2/widget.js")
        script(src:"/js/twitterFeed.js")  
  #footer
  
div#login-modal.hidden
  iframe(id="login-iframe", src="https://nodelicious.rpxnow.com/openid/embed?token_url=http%3A%2F%2F"+HOST+"%2Flogin",  scrolling="no",  frameBorder="no",  allowtransparency="true")
  p#login-modal-text Or <a href="#">play anonymously</a> you dirty, no good coward.
	
script(src:"/js/knockout.js")
